{% extends 'base.html' %}


{% block content %}

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1>Hello!</h1>

        <p>This is a template for a simple lotto site build with Django.</p>
    </div>
</div>

<div class="container">
    <h2>Available Lotteries</h2>
    <div class="row">
        {% for lotto in open_lotteries %}
        <div class="col-md-4">
            <h3>{{ lotto.name }}</h3>
            <p>{{ lotto.description|safe }}</p>
            <span>Pick: {{lotto.number_of_balls}} numbers from 1 to {{ lotto.max_ball }}</span>


            <p><a class="btn btn-success btn-sm" href="#" role="button">Enter &raquo;</a></p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}


