{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<h2>Passed Lotteries
    <div class="pull-right">
        <a class="btn btn-info btn-xs" href="{% url 'index' %}">View Open</a>
        {% if request.user.is_authenticated %}
            <a class="btn btn-warning btn-xs" href="{% url 'user_index' %}">View Your Entries</a>
        {% endif %}
    </div>
</h2>
<hr/>
<div class="row">
    {% for lotto in passed_lotteries %}
    <div class="col-md-4">

        <h4>{{ lotto.name }}
            <div class=" pull-right">
            <span class="label label-primary">{{lotto.number_of_balls}} ball</span>
            <span class="label label-primary ">1 - {{ lotto.max_ball }}</span>
               </div>
        </h4>
        <small><strong>Closed: {{ lotto.is_closed_from|naturalday }}</strong></small>
        <p>{{ lotto.description|safe|truncatewords_html:20 }}</p>

        <p><a class="btn btn-success btn-sm" href="{{ lotto.get_absolute_url }}" role="button">View</a></p>
        <hr>
    </div>
    {% endfor %}
</div>

{% endblock %}


